header {
    height: 60px;
}

.main-content {
    max-width: 1010px;
}

.gray-timeline {
    background-color: #e6ebf1;
}

.gray-400 {
    background-color: #959da5;
}

.gray-500 {
    color: #6a737d;
}

.gray-700 {
    background-color: #444d56;
}

.gray-900 {
    background-color: #24292e;
}

.gray-900-text {
    color: #24292e;
}

.blue-300 {
    background-color: #79b8ff;
}

.blue-400 {
    background-color: #c3daf5;
}

.blue-500 {
    background-color: #0366d6;
}

.blue-500-text {
    color: #0366d6;
}

.blue-800 {
    background-color: #032f62;
}

.green-400 {
    background-color: #85e89d;
}

.green-500 {
    background-color: #28a745;
}

.yellow-400 {
    background-color: #ffdf5d;
}

.yellow-500 {
    background-color: #ffd33d;
}

.yellow-600 {
    background-color: #f9c513;
}

.yellow-700 {
    background-color: #dbab09;
}

.yellow-900 {
    background-color: #735c0f;
}

.orange-400 {
    background-color: #fb8532;
}

.orange-500 {
    background-color: #f66a0a;
}

.orange-700 {
    background-color: #d15704;
}

.red-300 {
    background-color: #f97583;
}

.red-400 {
    background-color: #ea4a5a;
}

.red-600 {
    background-color: #cb2431;
}

.red-800 {
    background-color: #9e1c23;
}

.purple-400 {
    background-color: #8a63d2;
}

.purple-500 {
    background-color: #6f42c1;
}

.purple-700 {
    background-color: #4c2889;
}

.black {
    background-color: #1b1f23;
}

.left-column {
    max-width: 253px;
}

.summary-name {
    font-size: 26px;
    line-height: 30px;
}

.summary-subtitle {
    line-height: 24px;
}

.summary-button {
    width: 229px;
}

.summary-toolkit {
    height: 35px;
}

.summary-course {
    height: 35px;
    border-radius: 15px;
}

.pinned-list {
    flex-direction: column;
}

.pinned-item {
    flex: 48%;
}


.language-indicator {
    top: 1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.timeline-stretch {
    flex-basis: auto;
    flex-grow: 2;
}

.timeline-horizontal {
    height: 1px;
}

.timeline-line-top {
    height: 13px;
    width: 2px;
}

.timeline-circle-marker {
    height: 32px !important;
    width: 32px !important;
    border-radius: 100px;
}

.timeline-line-bottom {
    width: 2px;
}

.timeline-card {
    flex-direction: column;
}

.timeline-card-commits {
    top: 1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 2%;
    margin-left: -3px;
}

.timeline-card-text {
    margin-left: 0px;
}

.timeline-card-info {
    flex-direction: column;
}

.timeline-card-octicon {
    margin-bottom: 16px;
}

.container {
    display: none;
}

.events-explainer {
    display: flex;
}

.calendar-heatmap {
    box-sizing: initial;
    display: flex;
    flex-shrink: auto;
    margin-left: 35px;
}


/* Media Queries */
@media (min-width: 600px) {
    .column-container {
        flex-wrap: nowrap !important;
    }

    .timeline-card {
        flex-direction: row;
    }

    .timeline-card-text {
        margin-left: 24px;
    }

    .timeline-card-info {
        flex-direction: row;
    }

    .timeline-card-octicon {
        margin-bottom: 0px;
    }
}

@media (min-width: 700px) {
    .pinned-list {
        flex-direction: row;
    }


}

@media (min-width: 1010px) {
    .container {
        width: 725px;
        display: flex;
    }

    .events-explainer {
        display: none;
    }
}

@media (max-width: 460px) {
    .flex-auto.d-flex.flex-items-center.flex-row.pr-3 {
        /* margin-left: auto !important; */
        /* margin-right: auto !important; */
        /* flex: 2 2 auto !important; */
        text-align: center;
        /* align-content: center; */
        display: block !important;
        padding-bottom: 5px;
    }

    .flex-auto.d-flex.flex-items-center.flex-row-reverse.pr-3 {
        text-align: center;
        /* align-content: center; */
        display: block !important;
        padding-bottom: 5px;
    }

    .flex-auto.d-flex.flex-items-center.flex-row-reverse.pr-3 {
        margin-top: 0px !important;
    }

    .stickyHeader {
        /* position: -webkit-sticky;
        position: sticky;
        top: 0rem;
        z-index: 10; */
        width: 100% !important;

    }
}

.flex-auto.d-flex.flex-items-center.flex-row-reverse.pr-3 {
    margin-top: 10px;
}

.summary-name {
    font-size: 22px !important;
}

.interestList {
    height: 25px;
}

.leftContainer {
    width: 229px;
}

.stickyHeader {
    /* position: -webkit-sticky;
    position: sticky;
    top: 0rem;
    z-index: 10; */
    width: 100%;
}


.pinned-item-apps {
    flex: 30%;
}
.apps-row {
    align-items: center;
}
.apps-title {
    padding-left: 10px;
}


/* Cards */

.card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    position: absolute;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }



  /* CONTACT
========================================== */
.contact-area {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .contact {
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  
  /* .contact section { */
    .contact {
    border-radius: 5px;
    float: left;
    /* //background-color: #eb524a; */
  }
  .contact .content {
    float: left;
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px;
    position: relative;
    text-align: left;
  }
  .contact .content img {
    width: 30%;
    height: 30%;
    float: left;
    border-radius: 13px;
  }
 
  .contact .content aside {
    float: left;
    width: 100%;
    height: 60%;
    color: #ffffff;
    margin-top: 4px;
    overflow: hidden;
  }
  /* @media (min-width: 414px) {
    .contact .content aside {
      width: 60%;
    }
  } */
  .contact .content aside h1 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .contact .content aside p {
    font-size: 10px;
    line-height: 150%;
  }

  @media (max-width: 460px) {
    .card {
        width: 100px;
        height: 100px;
        border-radius: 10px;
      }
      .card .card_image img {
        border-radius: 10px;
      }
      .contact .content aside {
        margin-top: 0px;
      }
      .contact .content aside h1 {
        font-size: 15px;
        margin-bottom: 3px;
      }
      .contact .content aside p {
        font-size: 5px;
      }
      .app_type {
        font-size: 7px !important;
      }
      .appName {
        margin-bottom: -5px !important;
      }
      .pinned-list {
        flex-direction: row;
    }
    body {
        width: 150%;
    }
  }

  .app_type {
    /* height: 20px !important; */
  }
  .appName {
    padding-right: 5px !important;
    margin-bottom: -6px !important;
  }
  .appLink {
    color: white;
  }
  .appLi {
    /* width:50%;
    width:50%; */
    padding-right: 2px;
  }
  .bt-purple {

  }
  
  


.btn-red {
    color: #fff;
    background-color: #FF0000;
    background-image: linear-gradient(-180deg, #FF0000 0%, #FF0000 90%)
}

.btn-red:focus,
.btn-red.focus {
    box-shadow: 0 0 0 0.2em rgba(255, 0, 0, 0.4)
}

.btn-red:hover,
.btn-red.hover {
    background-color: rgb(209, 12, 12);
    background-image: linear-gradient(-180deg, rgb(230, 10, 10) 0%, #FF0000 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, 0.5)
}

.btn-red:active,
.btn-red.selected,
[open]>.btn-red {
    background-color: #FF0000;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.btn-red:disabled,
.btn-red.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #b19cd7;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}

.bt-green {
    color: #fff;
    background-color: #16d450;
    background-image: linear-gradient(-180deg, #16d450 0%, #16d450 90%)
}

.bt-green:focus,
.bt-green.focus {
    box-shadow: 0 0 0 0.2em rgba(22, 212, 80, 0.4)
}

.bt-green:hover,
.bt-green.hover {
    background-color: #16d450;
    background-image: linear-gradient(-180deg, #0fb842 0%, #16d450 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, 0.5)
}

.bt-green:active,
.bt-green.selected,
[open]>.bt-green {
    background-color: #16d450;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.bt-green:disabled,
.bt-green.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #b19cd7;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}


.bt-black {
    color: #fff;
    background-color: #000000;
    background-image: linear-gradient(-180deg, #000000 0%, #000000 90%)
}

.bt-black:focus,
.bt-black.focus {
    box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.4)
}

.bt-black:hover,
.bt-black.hover {
    background-color: #000000;
    background-image: linear-gradient(-180deg, #2b2727 0%, #000000 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, 0.5)
}

.bt-black:active,
.bt-black.selected,
[open]>.bt-black {
    background-color: #000000;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.bt-black:disabled,
.bt-black.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #b19cd7;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}


.bt-blue {
    color: #ffffff !important;
    background-image: linear-gradient(-180deg, #0077B5 0%, #0077B5 0%);
  }
  


.bt-blue {
    color: #fff;
    background-color: #0077B5;
    background-image: linear-gradient(-180deg, #0077B5 0%, #0077B5 90%)
}

.bt-blue:focus,
.bt-blue.focus {
    box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.4)
}

.bt-blue:hover,
.bt-blue.hover {
    background-color: #0077B5;
    background-image: linear-gradient(-180deg, rgb(21, 110, 158) 0%, #0077B5 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, 0.5)
}

.bt-blue:active,
.bt-blue.selected,
[open]>.bt-blue {
    background-color: #0077B5;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15)
}

.bt-blue:disabled,
.bt-blue.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #b19cd7;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none
}

.resume {
    position: fixed;
    padding: 0;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
}